#root {
  background-color: aquamarine;
  font-size: 2.4rem;
  height: 100dvh;
  padding: 2rem;
  text-align: center;
}

.bottomSheet-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}